[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
bpython = "*"
"bs4" = "*"
selenium = "*"
nltk = "*"
spacy = "*"
spacy-lookups-data = "*"
lemminflect = "*"

[dev-packages]

[requires]
python_version = "3.8"
